html, body {
    background-color: #E0F8F7;
	padding: 0;
	margin: 0;
	border: 0;
}

h1 {
	color: black;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

th, td {
    padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
    text-align: left;
}

#centerPart {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
	width: 60%;
	min-height: 100%;
	background-color: white;
	margin: auto;
	padding: auto;
	border-left-style: solid;
	border-right-style: solid;
	border-color: gray;
	border-width: 2px;
}

#header {
	text-align: center;
}

#return {
	text-align: center;
	padding: auto;
	margin: auto;
	margin-top: 10%;
}

#menu {
	width: 60%;
	text-align: center;
	padding: auto;
	margin: auto;
	margin-bottom: 2%;
}

#content {
	color: black;
	width: 90%;
	#padding: 3%;
	margin: 5%;
}

.mini_img {
	height: 100px;
}

.monster_img {
	width: 300px;
}

.wilderness_img {
	width: 80%;
}

.roundButton {
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 10px;
	width: 20%;
}